@import "../../variables.scss";

.EnergyBarChartPage {
  position: relative;
  width: 100%;
  max-width: 2200;
  background-color: $space-gray;
  padding-bottom: 10rem;
}

.Heading {
  color: $light-yellow;
  font-family: "CocogoosePro-Regular", sans-serif;
  text-align: center;
  font-size: 6rem;
  margin: 6rem 0 2rem;
  padding: 2rem 0;
}

.Divider {
  width: 100%;
  border-bottom: 2px solid $light-yellow;
  margin-bottom: 8rem;
}
