.DragBox:hover {
  background-color: #f0f0f0;
}

.BarHeading {
  position: absolute;
  top: 3%;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Montserrat", "Tahoma", "sans-serif";
  color: "#222";
  text-align: center;
  width: 100%;
}
